/* DARK THEME SPECIFICATIONS */

:root {
    --back-color: #000000;
    --primary-color: #46526d;
    --secondary-color: #64ffda;
    --curser-color: #84d6c3;
    --highlight-color: #46526d;
}

.terminalContainer{
    color: var(--secondary-color);
    background-color: var(--back-color);
}
    
.primary{
    color: var(--primary-color);
}

.secondary{
    color: var(--secondary-color);
}

.highlight{
    color: var(--highlight-color);
}  

.curser{
    color: var(--curser-color);
    background-color: var(--curser-color);
}

.banner{
    color: var(--highlight-color);
}

.index {
    color: var(--secondary-color);
}

.command {
    color: var(--secondary-color);
}

a {
    color: var(--curser-color);
}
a:hover {
    color: var(--secondary-color);
} 

::selection {
    color:  var(--back-color);
    background: var(--secondary-color);
}

#liner::before {
    color: var(--secondary-color);
}

.content{
    color: var(--primary-color);
}