/* DARK THEME SPECIFICATIONS */
/*  
dark blue 3E00FF
seafoam green 248160
medium blue 005F99
light blue 3797A4
*/
:root {
    --back-color: #000000;
    --primary-color: #46526d;
    --secondary-color: #08f7fe;
    --curser-color: #1CD6CE;
    --highlight-color: #46526d;
    --error-color: #3B9AE1;
}

.terminalContainer{
    color: var(--secondary-color);
    background-color: var(--back-color);
}
    
.primary{
    color: var(--primary-color);
}

.secondary{
    color: var(--secondary-color);
}

.highlight{
    color: var(--highlight-color);
}  

.curser{
    color: var(--curser-color);
    background-color: var(--curser-color);
}

.banner{
    color: var(--error-color);
}

.index {
    color: var(--secondary-color);
}

.command {
    color: var(--secondary-color);
}

a {
    color: var(--curser-color);
}
a:hover {
    color: var(--secondary-color);
} 

::selection {
    color:  var(--back-color);
    background: var(--secondary-color);
}

#liner::before {
    color: var(--secondary-color);
}

.content{
    color: var(--primary-color);
}

.error{
    color: var(--error-color);
}

.about{
    color: var(--primary-color);
}
.abouthead{
    color: var(--secondary-color);
}
.aboutliner{
    color: var(--error-color);
}