/* LIGHT THEME SPECIFICATIONS */


:root {
    --back-color: #006A71;
    --primary-color: #F2EBE9;
    --secondary-color: #80ED99 ;
    --curser-color: #46526d;
    --highlight-color: #000000;
    --error-color:#6892D5;
}

.terminalContainer{
    background-color: var(--back-color);
    color: var(--secondary-color);
}

.primary{
    color: var(--primary-color);
}

.secondary{
    color: var(--secondary-color);
}

.highlight{
    color: var(--highlight-color);

}  

.curser{
    color: var(--curser-color);
}

.banner{
    color:#F2EBE9;    
}

.index {
    color: var(--secondary-color);
}

.command {
    color: var(--primary-color);  
}

a {
    color: var(--error-color);
}
a:hover {
    color: var(--error-color);
} 

::selection {
    color: var(--hightlight-color);
    background:var(--secondary-color);
}
.content{
    color: var(--primary-color);
}
.error{
    color: var(--error-color);
}